:root {
  --main-font: "Montserrat", sans-serif;
  --main-text-color: #2C2C2C;
  --secondary-text-color: #ffffff;
  --bg-color: #0F3F3C;
  --accent-color: #F07F2E;
  --hero-btn: rgba(0,0,0, 0.3);
  --border-radius: 16px;
  --box-shadow: 0px 4px 16px 0px #00000040;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--main-text-color);
}

.section {
  padding-top: 60px;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.5px;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.5px;
  color: var(--accent-color);
}

.socials__text {
  margin-bottom: 8px;
  text-align: right;
  color: var(--secondary-text-color);
}
.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 20px;
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--secondary-text-color);
  -webkit-transition: color var(--animation), background-color var(--animation);
  transition: color var(--animation), background-color var(--animation);
}
.socials__link:hover, .socials__link:focus {
  color: var(--accent-color);
  background-color: var(--secondary-text-color);
}
.socials__icon {
  fill: currentColor;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}
.page-header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.page-header__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--main-text-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.page-header__link:hover, .page-header__link:hover {
  color: var(--accent-color);
}

.hero {
  padding-top: 0;
}
.hero__container {
  position: relative;
}
.hero__item {
  position: relative;
  overflow: hidden;
  height: 480px;
  border-radius: var(--border-radius);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-image-set(url(../../images/hero/bg-hero-01.jpg) 1x);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__item {
    background-image: -webkit-image-set(url(../../images/hero/bg-hero-01@2x.jpg) 2x);
  }
}
.hero__item--first {
  background-image: -webkit-image-set(url(../../images/hero/bg-hero-01.jpg) 1x);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__item--first {
    background-image: -webkit-image-set(url(../../images/hero/bg-hero-01@2x.jpg) 2x);
  }
}
.hero__item--second {
  background-image: -webkit-image-set(url(../../images/hero/bg-hero-02.jpg) 1x);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__item--second {
    background-image: -webkit-image-set(url(../..images/hero/bg-hero-02@2x.jpg) 2x);
  }
}
.hero__item--third {
  background-image: -webkit-image-set(url(../../images/hero/bg-hero-03.jpg) 1x);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__item--third {
    background-image: -webkit-image-set(url(../../images/hero/bg-hero-03@2x.jpg) 2x);
  }
}
.hero__greeting {
  position: absolute;
  top: 236px;
  left: 28px;
  width: 432px;
  padding: 24px;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
}
.hero__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 1.25px;
  color: var(--secondary-text-color);
}
.hero__text {
  color: var(--secondary-text-color);
}
.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--hero-btn);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--accent-color);
}
.hero__btn--prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 36px;
}
.hero__btn--next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 36px;
}
.hero__icon {
  fill: currentColor;
}

.take-cat__title {
  margin-bottom: 40px;
}
.take-cat__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}
.take-cat__item {
  overflow: hidden;
  -ms-flex-preferred-size: calc((100% - 80px) / 3);
      flex-basis: calc((100% - 80px) / 3);
  border-radius: var(--border-radius);
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.take-cat__item:hover, .take-cat__item:focus {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}
.take-cat__img {
  height: 360px;
}
.take-cat__info {
  padding: 16px;
}
.take-cat__name {
  margin-bottom: 8px;
  font-weight: 700;
}

.gallery {
  margin-bottom: 60px;
}
.gallery__title {
  margin-bottom: 8px;
}
.gallery__text {
  margin-bottom: 40px;
}
.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.gallery__item {
  overflow: hidden;
  -ms-flex-preferred-size: calc((100% - 80px) / 6);
      flex-basis: calc((100% - 80px) / 6);
  border-radius: var(--border-radius);
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.gallery__item:hover, .gallery__item:focus {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.page-footer {
  background-color: var(--bg-color);
}
.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
}
.page-footer__logo {
  margin-bottom: 8px;
}
.page-footer__text {
  color: var(--secondary-text-color);
}/*# sourceMappingURL=main.css.map */