:root{
    --main-font: "Montserrat", "Helvetica", sans-serif;
  
    --main-text-color: #2C2C2C;
    --secondary-text-color: #ffffff;
    --black: #2F2F37;
    --bg-color: #0F3F3C;
    --accent-color: #F07F2E;
    --navy: #d8def8;
    --scarlet: #fae8ea;
    --yellow: #fffddc;
    --pink: #ffe8f1;
    --turquoise: #e9f9f8;
    --lilac: #f2eef8;
    --hero-btn: rgba(0,0,0, 0.3);

    --border-radius: 16px;
    --box-shadow: 0px 4px 16px 0px #00000040;

    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}