:root{
    --main-font: "Montserrat", sans-serif;
  
    --main-text-color: #2C2C2C;
    --secondary-text-color: #ffffff;
    --bg-color: #0F3F3C;
    --accent-color: #F07F2E;

    --border-radius: 16px;
    --box-shadow: 0px 4px 16px 0px #00000040;

    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}