body{
    font-family: var(--main-font);
    @include fonts(400, 16px, 1.5, 0.5px, null);

    color: var(--main-text-color);
}

.section{
    padding-top: 60px;
}

.section-title{
    @include fonts(700, 24px, 1.7, 0.5px, null);
}