.gallery{
    margin-bottom: 60px;

    &__title{
        margin-bottom: 8px;
    }

    &__text{
        margin-bottom: 40px;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(144px, 1fr));
        gap: 16px;
    }

    &__item{
        overflow: hidden;
        border-radius: var(--border-radius);
        transition: box-shadow var(--animation);

        &:hover,
        &:focus{
            box-shadow: var(--box-shadow);
        }
    }

    &__img{
        width: 100%;
        object-fit: cover;
    }
}