.take-cat{
    &__title{
        margin-bottom: 40px;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        gap: 40px;
    }

    &__item{
        overflow: hidden;
        border-radius: var(--border-radius);
        transition: box-shadow var(--animation);

        &:hover,
        &:focus{
            box-shadow: var(--box-shadow);
        }
    }

    &__img{
        height: 360px;
        width: 100%;
        object-fit: cover;
    }


    &__info{
        padding: 16px;
    }

    &__name{
        margin-bottom: 8px;

        font-weight: 700;
    }
}